
/* BODY */
body{
  background-color: #D7DBD6;
}

/* GREEN BAR */
.green{
  background-color: #009688;
  width: 100%;
  height: 120px;
}

/* CONTAINER */

.screen-app{
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

/* PERSONE */
.persone{
  width: 40%;
  height: 100%;
}

/* BAR UTENTE */
.bar-utente{
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
}

/* BORDO LEFT BAR UTENTE */

.bordo-left{
  border-left: 1px solid lightgray;
}

/* AVATAR UTENTE */
.avatar{
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

/* BLUE BAR */
.blue-bar{
  background-color: #8EDAFC;
  width: 100%;
  height: 60px;
}

/* SEARCH BAR */
.search-bar{
  background-color: white;
  width: 100%;
  height: 40px;
}

.search-bar input:focus{
  border: none;
  outline: none;
}

/* UTENTI */
.user-row{
  height: 50px;
  border: 1px solid lightblue;
}

.user-row .ultimo-messaggio{
  font-size: 10px;
}

/* CHATS */
.chats{
  width: 60%;
  height: 100%;
}

/* MESSAGE UTENTE */

.message-user{
  background-color: #D5F9BA;
}

.message-other{
  background-color: #FFFFFF;

}










