
/* BODY */
body{
  background-color: #D7DBD6;
}

/* GREEN BAR */
.green{
  background-color: #009688;
  width: 100%;
  height: 120px;
}

/* CONTAINER */

.screen-app{
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

/* PERSONE */
.persone{
  width: 40%;
  height: 100%;
}

/* BAR UTENTE */
.bar-utente{
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
}

/* AVATAR UTENTE */
.avatar-esther{
  width: 30px;
  height: 30px;
  border-radius: 100%;

}

/* CHATS */
.chats{
  width: 60%;
  height: 100%;
}






